<div class="container" style="margin-top: 150px;">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <span>Hola {{persona}}!</span>
                <a href="/admin/login/logout" class="btn btn-primary">Cerrar sesion<i class="fas 
                fa-sing-out-alt"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <h2>Precios</h2>
            <div class="col-5 text-right">
                <a href="#" class="btn btn-success"><i class="fa fa-plus">
                    </i>Nuevo</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="table-success">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col" class="text-center">acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each precios}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{comida}}</td>
                        <td class="text-center">
                            <a href="" class="btn btn-sm btn-secondary">
                                <i class="fa fa-pencil"></i></a>
                            <a href="/admin/precios/eliminar{{id}}" title="eliminar"class="btn btn-sm btn-secondary">
                                <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>